<section class="page__item-gap">
    <div class="row pb-4">
      <div class="col-12 col-xl-12">
        <div class="row justify-content-between align-items-center pb-1">
            <div class="col-12  txt-center">
                <h2 class="section-title mb-3">Choose your city</h2>
          </div>
        </div>
  
        <div class="carousel js-cities-slider">
          <div class="carousel-slider">

            <div class="carousel-slider__slide">
                <div class="cities__item">
                    <img src="./img/cities-miami.png" alt="Miami" class="cities__img">
                    <p class="cities__text">Miami</p>
                </div>
            </div>

              <div class="carousel-slider__slide">
                <div class="cities__item">
                    <img src="./img/cities-Orlando.png" alt="Miami" class="cities__img">
                    <p class="cities__text">Orlando</p>
                </div>
            </div>

              <div class="carousel-slider__slide">
                <div class="cities__item">
                    <img src="./img/cities-tampa.png" alt="Miami" class="cities__img">
                    <p class="cities__text">Tampa</p>
                </div>
            </div>

              <div class="carousel-slider__slide">
                <div class="cities__item">
                    <img src="./img/cities-miami.png" alt="Miami" class="cities__img">
                    <p class="cities__text">Miami</p>
                </div>
            </div>

            <div class="carousel-slider__slide">
                <div class="cities__item">
                    <img src="./img/cities-miami.png" alt="Miami" class="cities__img">
                    <p class="cities__text">Miami</p>
                </div>
            </div>

            <div class="carousel-slider__slide">
                <div class="cities__item">
                    <img src="./img/cities-miami.png" alt="Miami" class="cities__img">
                    <p class="cities__text">Miami</p>
                </div>
            </div>

            <div class="carousel-slider__slide">
                <div class="cities__item">
                    <img src="./img/cities-miami.png" alt="Miami" class="cities__img">
                    <p class="cities__text">Miami</p>
                </div>
            </div>

  
          </div>
  
          <div class="carousel-controls">
  
            <button type="button" class="carousel-controls-btn carousel-controls-btn--prev">
              <svg class="carousel-controls-btn__ic">
                <use xlink:href="./img/svg/sprite.svg#ic-slider-arrow-prev"></use>
              </svg>
            </button>
  
            <span class="js-counter-current carousel-controls-counter carousel-controls-counter--current">01</span>
  
            <div class="carousel-controls-dots"></div>
  
            <span class="js-counter-total carousel-controls-counter carousel-controls-counter--total">07</span>
  
            <button type="button" class="carousel-controls-btn carousel-controls-btn--next">
              <svg class="carousel-controls-btn__ic">
                <use xlink:href="./img/svg/sprite.svg#ic-slider-arrow-next"></use>
              </svg>
            </button>
  
  
          </div>
  
        </div>
  
  
      </div>
    </div>
  </section>